.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .buttons {
    margin-bottom: 1em;
  }
  
  button {
    background-color: #007FFF;
    color: white;
    border: none;
    padding: 0.5em;
    margin-right: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0065CC;
  }
  
  .display {
    height: 50%;
    width: 80%;
    border: 2px solid #007FFF;
    border-radius: 10px;
    padding: 1em;
    font-size: 2em;
    text-align: center;
  }
  .display.blue {
    background-color: #007FFF;
    color: white;
  }
  
  .display.red {
    background-color: #ED1C24;
    color: white;
  }
  
  .display.green {
    background-color: #4CAF50;
    color: white;
  }
  
  .display.yellow {
    background-color: #FFE200;
    color: #444444;
  }
  
  .display.purple {
    background-color: #9B26AF;
    color: white;
  }